<!DOCTYPE html>
<html>
<head>
	<title>
		The Edge | Sky Technology
	</title>


    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css"/>

</head>
<body>

<div class="container">

<header class="blog-header">

	<h1>The Edge</h1>
	<p class="strapline">Sky | Technology | Creative</p>
			
</header>

<div class="content-container">
	{{{body}}}
</div>



</div>	




</body>
</html>