@import 'bower_components/bskyb-core/src/styles/core';

ol, ul {
	padding: default;
	margin: default;
}

body {
	margin: 0;
}

.content-container {
	margin: 30px 10px;
}

.blog-header {
	h1 {
		font-size: 5em;
	}
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: url('/assets/img/sky-clouds.jpg') no-repeat;
	background-size: cover;
	color: white;
	padding: 20px;
}

.container {
	max-width: 1000px;
	margin: auto;
}




.tags {
	margin: 10px 0;
	a {
		padding: 5px 10px;
		background-color: #F2F2F2;
		font-size: 0.7em;	
	}

}